
/* Set the font style and size for the whole page */

body {
  /* background: linear-gradient(90deg, #69b7eb, #b3dbd3, #f4d6db); */
  background-image: url("https://images.pexels.com/photos/5645019/pexels-photo-5645019.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: 100% auto ;

  font-size: 1.1rem;
  font-family: "Quicksand", sans-serif;
  height: 100%;
}

/* Set the style for the header */
header {
  background-color: #E27D60;
  color: white;
  padding: 20px;
  text-align: center;
}

/* Set the style for the navigation bar */
nav {
  background-color: #2C3E50;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

/* Set the style for the links in the navigation bar */
nav a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

/* Set the style for the main content */
.box {
  margin: 20px;
}



.container {
  margin: 4rem auto;
  padding: 2rem 3rem 3rem;
  max-width: 500px;
  background: #ffc1c1;
  color: #000000;
  box-shadow: -20px -20px 0px 0px rgba(255, 255, 255, 0.1);
}


/* Set the style for the headings */
h1, h2, h3 {
  font-family: Oswald;
    font-weight: normal;
    font-size: 2.6rem;
    letter-spacing: 0.05em;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  }

  h2, h3{
    font-family: Oswald;
    font-weight: normal;
    font-size: 2.6rem;
    letter-spacing: 0.05em;
  }

/* Set the style for the images */
img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

/* Set the style for the buttons */
button {
  background-color: #E27D60;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* Set the style for the form inputs */
form input[type="text"], form input[type="number"], form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
 
}


.cons {
  display: flex;
  margin: 0 -3rem 4px;
  padding: 1.1rem 3rem;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
}



.search-form {
  display: flex;
}

.search-bar {
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 8px 0px 0px 8px;
  height: 64px;
  width: 80%;
  font-size: 32px;
  padding: 0px 24px;
  margin-top:10px;

}

.search-btn {
  box-sizing: border-box;
  border-radius: 0px 8px 8px 0px;
  border: 1px solid #000000;
  height: 64px;
  width: 20%;
  margin-left: -1px;
  font-size: 14px;
  text-align: center;
  margin-top:10px;
}

label {
  cursor: all-scroll;
  font-size: 20px;
}

h1{
  font-family: Oswald;
  font-size: 50px;
   animation: Color 4s linear infinite;
  -webkit-animation: Color 4s ease-in-out infinite;
}

@keyframes Color{
  /* 0%{
    color:#A0D468;
  }
  
  20%{
    color:#4FC1E9;
  }
  */
  /* 40%{
    color:#FFCE54;
  }
   */
   60%{
    color:#FC6E51;
  }
   
  80%{
    color:#ED5565;
  }
  
  100%{
    color:#AC92EC;
  }
}

@-moz-keyframes Color{
  0%{
    color:#A0D468;
  }
  
  20%{
    color:#4FC1E9;
  }
  
  40%{
    color:#FFCE54;
  }
  
  /* 60%{
    color:#FC6E51;
  }
  
  80%{
    color:#ED5565;
  }
  
  100%{
    color:#AC92EC;
  } */
}


